.container{
    min-height: 88vh;
  }
  
  .table{
    width: 100%;
    border: solid;
  }
  
  .publisher-header{
    display: flex;
    align-items: left;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
