.footer{
  bottom: 0;
  width: 100%;
  height: 108px;
  border-style: none;
  background-color: rgb(134, 134, 134, 0.05);
  display: flex;
  align-items: center;
  z-index: 30;
}

.footer-items{
  color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.singleton{
  width: 200px;
  height: 20px;
  margin-right: 8px;
  font-size: 14px;
  font-weight: 400;
  text-decoration-line: none;
  color: #000000;
}

.singleton:hover{
  cursor: pointer;
  color: #01195B;
  font-weight: 500;
}

.singleton_active{
  color: #01195B;
  width: 200px;
  height: 20px;
  margin-right: 8px;
  font-size: 14px;
  font-weight: 600;
  text-decoration-line: none;
}